@font-face {
    font-family: 'luxi_monoregular';
    src: url('../../public/fonts/luxi/luximr-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sourcecodepro';
    src: url('../../public/fonts/sourcecodepro/sourcecodepro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}