body{
    background:url("http://projecten.dirkmervis.be/expino/bg.jpg") no-repeat center center;
    background-size:cover;
    overflow:hidden;
}

p{
    padding-bottom:10px;
    background-color: transparent;
}

p span{
    background-color: transparent !important;
}

h1{
    text-align:center;
}

h1, h2, h3,h4{
    color:#f04c25;
}

img{
    max-height:65vh;}

/*MAIN SLIDE CSS*/
.mainslide{
    height:84vh;
    background-color: rgba(255,255,255,0.6);
}

.main-title{
    color:#f04c25;
}

.card-content div div div img{
    overflow:hidden;
    display:block;
    margin:auto;
}


/*LEFT COLUMN CSS*/
.logo{
    width:50%;
    float:none;
    margin:8px auto 0 auto;
}

.logo-margin img{
    display:block;
    margin:5px auto;
}

.left-column-card{
    background-color: rgba(255,255,255,0.6);
    height:11vh;
    margin-bottom:0;
}

.up-next-next{
    color:rgba(240,76,37,0.9);
    font-size:1.5vw;
    font-family: 'Source Code Pro', monospace;
    height:180px;
    text-align:center;
    margin-top:17px;
    font-weight:bold;
    overflow:hidden;
}

.up-next{
    color:rgba(240,76,37,0.9);
    font-size:1.5vw;
    font-family: 'Source Code Pro', monospace;
    height:180px;
    text-align:center;
    font-weight:bold;
    overflow:hidden;
}

/*.up-next .card-content, .up-next .card-content div{
    height:100%;
    display:inline-block;
    vertical-align: middle;
}

.up-next-next .card-content, .up-next-next .card-content div{
    height:100%;
    display:inline-block;
    vertical-align: middle;
}*/



/*TICKER CSS*/
.ticker-up-arrow{
    transform:rotate(-90deg);
}

.ticker-down-arrow{
    transform:rotate(90deg);
}

.ticker-item-width{
    width:20%;
    display:table-cell;
}

.ticker-up{
    color:darkgreen;
    font-size:24px;
    /*color:green;*/
}

.ticker-down{
    color:darkred;
    font-size:24px;
    /*color:red;*/
}

.up-next-title{
    font-weight:bold;
    font-size:20px;
    text-align:center;
}

.ticker-margin{
    margin-bottom:0;
}

.ticker-card-style{
    background-color: rgba(255,255,255,0.6);
}