body{
    background:url("http://projecten.dirkmervis.be/expino/bg.jpg") no-repeat center center;
    background-size:cover;
}

p{
    padding-bottom:10px;
    background-color: transparent;
}

p span{
    background-color: transparent !important;
}

h1, h2, h3,h4{
    color:#e76800;
}

/*MAIN SLIDE CSS*/
.mainslide{
    height:84vh;
    background-color: rgba(255,255,255,0.6);
}

.main-title{
    color:#e76800;
}


/*LEFT COLUMN CSS*/
.logo{
    width:50%;
    float:none;
    margin:8px auto 0 auto;
}

.logo-margin img{
    display:block;
    margin:5px auto;
}

.left-column-card{
    background-color: rgba(255,255,255,0.6);
    height:11vh;
    margin-bottom:0;
}

.up-next-next{
    color:rgba(231,104,0,0.7);
    font-size:2vw;
    font-family: luxi_monoregular sans-serif;
    height:180px;
    text-align:center;
}

.up-next{
    color:rgba(231,104,0,0.5);
    font-size:2vw;
    font-family: luxi_monoregular sans-serif;
    height:180px;
    text-align:center;
}

/*.up-next .card-content, .up-next .card-content div{
    height:100%;
    display:inline-block;
    vertical-align: middle;
}

.up-next-next .card-content, .up-next-next .card-content div{
    height:100%;
    display:inline-block;
    vertical-align: middle;
}*/



/*TICKER CSS*/
.ticker-up-arrow{
    transform:rotate(-90deg);
}

.ticker-down-arrow{
    transform:rotate(90deg);
}

.ticker-item-width{
    width:20%;
    display:table-cell;
}

.ticker-up{
    /*color:darkgreen;*/
    font-size:24px;
    color:green;
}

.ticker-down{
    /*color:darkred;*/
    font-size:24px;
    color:red;
}

.up-next-title{
    font-weight:bold;
    font-size:20px;
    text-align:center;
}

.ticker-margin{
    margin-bottom:0;
}

.ticker-card-style{
    background-color: rgba(255,255,255,0.6);
}