.weather{
    text-align:center;
    color:#f04c25;
}

.weather-item-width{
    display:table-cell;
    width:50%;
    text-align:center;
    float:left;
    margin:auto;
    color:#f04c25;
}

.weather-item-width h2{
    margin:auto;
    font-size:3rem;
}

.weather-padding-left{
    padding-right:20px;

}

.weather-item-font{
    font-family: luxi_monoregular, sans-serif;
}