body {
  background-color: $bg-color;
  background-size: cover;
  overflow: hidden;
}

.switcher {
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  font-size: var(--title-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  font-family: $titlefont;
}

img {
  max-height: 65vh;
  max-width: 81vw;
  object-fit: contain;
}

.slide {
  padding: 0px 22px 44px 22px;
  background-color: $card-bg;
  font-size: 50px;
  align-content: center;

  li {
    margin-left: 30px;
    list-style-type: disc !important;
  }

  .card-content {
    padding-top: 10px;
  }
}

.mainslide {
  @extend .slide;
  line-height: 1;
  height: 98vh;
  &.with-ticker{
    height: 89.55vh;
  }
}

.sideslide {
  @extend .slide;
  padding: 0px;
}

.mainslide h2 {
  font-size: 70px;
}

.main-title {
  color: $text-color;
}

.card-content div div div img {
  overflow: hidden;
  display: block;
  margin: auto;
}

/*LEFT COLUMN CSS*/
.logo {
  width: 70%;
  float: none;
  margin: 50px auto;
}

.logo-margin img {
  display: block;
}

.left-column-card {
  background-color: $card-bg;
  //height:11vh;
  margin-bottom: 0;
}

.up-next-next {
  color: $text-color;
  font-size: 1.5vw;
  font-family: $titlefont;
  text-align: center;
  overflow: hidden;
}

.up-next {
  color: $text-color;
  font-size: 1.5vw;
  font-family: $titlefont;
  text-align: center;
  overflow: hidden;
}

/*.up-next .card-content, .up-next .card-content div{
    height:100%;
    display:inline-block;
    vertical-align: middle;
}

.up-next-next .card-content, .up-next-next .card-content div{
    height:100%;
    display:inline-block;
    vertical-align: middle;
}*/

/*TICKER CSS*/

.ticker-item-width {
  width: 20%;
  display: table-cell;
}

.ticker {
  display: inline;
  font-size: var(--ticker-size);
}

.up-next-title {
  //font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-family: $titlefont;
}

.ticker-margin {
  margin-bottom: 0;
}

.ticker-card-style {
  background-color: $card-bg;
}

#volgende {
  color: white;
  margin-top: 5vh;
}

.ui-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
  margin: auto 0;

  .expino-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      width: 100%;
      max-width: 500px;
    }
    .spinner {
      width: 100%;
      text-align: center;

      .fas {
        font-size: 4rem;
        color: white;
      }
    }
  }
}

.delijn {
  font-size: 1.1rem;
}

.switcher-close {
  img {
    max-width: 35vw;
  }
}
