:root {
  --text-color: #000;
  --bg-color: #368ad8;
  --ticker-size: 3rem;
  --title-size: 4.2rem;
}

$text-color: var(--text-color);
$bg-color: var(--bg-color);
$monospace: "Roboto Mono", monospace;
$titlefont: "Roboto", sans-serif;
$card-bg: rgba(255, 255, 255, 0.8);
